body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;   
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
h1, h2 {
    color: #333;
}
p {
    color: #595959;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin:0;
	overflow: hidden;
}        
nav ul li {
    margin-right: 3px;
    width:20%;
	height: auto;
	float: left;
    }
nav ul li a {
    display: block;
    text-align: center;
    }
nav ul li a:hover {
    background-color: #FFC0CB;
    }
body#news nav ul li#nav-news {
    background-color: #317f8d;
} 
body#blog ul li#nav-blog {
    background-color: #317f8d;
} 
body#design ul li#nav-design {
    background-color: #317f8d;
} 
body#program ul li#nav-program {
    background-color: #317f8d;
} 

@media (max-width: 600px) {
    body {
        max-width: 100%;
        padding: 0 5px;
    }
    nav ul li {
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
    nav ul li a {
        font-size: 16px;         /* フォントサイズを小さく */
        padding: 10px 0;         /* パディング調整 */
        white-space: nowrap;     /* 折り返し防止 */
        overflow: hidden;        /* はみ出し防止 */
        text-overflow: ellipsis; /* 省略記号表示 */
    }
}

