body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;   
}
h1, h2 {
    color: #333;
}
p {
    color: #595959;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
